## LEVEL2 TASK1
## Analyze the distribution of aggregateratings and determine the most commonrating range.

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv("Dataset .csv")

In [11]:
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [17]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [19]:
bins = [0, 1, 2, 3, 4, 5]  
labels = ['0-1', '1-2', '2-3', '3-4', '4-5']

In [21]:
df['rating_range'] = pd.cut(df['Aggregate rating'], bins=bins, labels=labels, right=False)

In [23]:
df['rating_range']

0       4-5
1       4-5
2       4-5
3       4-5
4       4-5
       ...
9546    4-5
9547    4-5
9548    3-4
9549    4-5
9550    4-5
Name: rating_range, Length: 9551, dtype: category
Categories (5, object): ['0-1' < '1-2' < '2-3' < '3-4' < '4-5']

In [25]:
 rating_range_counts = df['rating_range'].value_counts()

In [27]:
rating_range_counts

rating_range
3-4    4590
0-1    2148
2-3    1430
4-5    1380
1-2       3
Name: count, dtype: int64

## Calculate the average number of votesreceived by restaurants.

In [30]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'rating_range'],
      dtype='object')

In [32]:
df['avg_vote']=df.groupby('Votes')['Restaurant ID'].mean()

In [34]:
df['avg_vote']

0       1.721733e+07
1       1.505223e+07
2       1.264699e+07
3       1.315616e+07
4       1.273879e+07
            ...
9546             NaN
9547             NaN
9548             NaN
9549             NaN
9550             NaN
Name: avg_vote, Length: 9551, dtype: float64

In [36]:
avg_vote_received_by_restaurant= df['avg_vote'].value_counts()= df['avg_vote'].value_counts()

In [38]:
avg_vote_received_by_restaurant

avg_vote
1.721733e+07    1
8.004830e+05    1
8.792611e+06    1
1.552390e+05    1
1.761627e+07    1
               ..
1.402050e+06    1
3.015340e+05    1
1.437755e+07    1
4.256012e+06    1
3.083220e+05    1
Name: count, Length: 1010, dtype: int64

## LEVEL2 TASK2
## Identify the most common combinations of cuisines in the dataset.

In [41]:
df['Cuisines'].unique()

array(['French, Japanese, Desserts', 'Japanese',
       'Seafood, Asian, Filipino, Indian', ..., 'Burger, Izgara',
       'World Cuisine, Patisserie, Cafe', 'Italian, World Cuisine'],
      dtype=object)

In [43]:
df['Cuisines'].value_counts().head(3)

Cuisines
North Indian             936
North Indian, Chinese    511
Chinese                  354
Name: count, dtype: int64

## Determine if certain cuisine combinationstend to have higher ratings.

In [46]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'rating_range', 'avg_vote'],
      dtype='object')

## LEVEL2 TASK3
## Plot the locations of restaurants on a map using longitude and latitude coordinates

In [49]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'rating_range', 'avg_vote'],
      dtype='object')

## Identify any patterns or clusters of restaurants in specific areas.

In [52]:
df.size

219673

In [56]:
df.describe

<bound method NDFrame.describe of       Restaurant ID           Restaurant Name  Country Code              City  \
0           6317637          Le Petit Souffle           162       Makati City
1           6304287          Izakaya Kikufuji           162       Makati City
2           6300002    Heat - Edsa Shangri-La           162  Mandaluyong City
3           6318506                      Ooma           162  Mandaluyong City
4           6314302               Sambo Kojin           162  Mandaluyong City
...             ...                       ...           ...               ...
9546        5915730               Naml۱ Gurme           208         ��stanbul
9547        5908749              Ceviz A��ac۱           208         ��stanbul
9548        5915807                     Huqqa           208         ��stanbul
9549        5916112               A���k Kahve           208         ��stanbul
9550        5927402  Walter's Coffee Roastery           208         ��stanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...
9547  Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...
9548  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...
9549  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...
9550  Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karak�_y
9547                                   Ko��uyolu
9548                                 Kuru�_e��me
9549                                 Kuru�_e��me
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                                Karak�_y, ��stanbul   28.977392
9547                               Ko��uyolu, ��stanbul   29.041297
9548                             Kuru�_e��me, ��stanbul   29.034640
9549                             Kuru�_e��me, ��stanbul   29.036019
9550                                    Moda, ��stanbul   29.026016

       Latitude                          Cuisines  ...  Has Online delivery  \
0     14.565443        French, Japanese, Desserts  ...                   No
1     14.553708                          Japanese  ...                   No
2     14.581404  Seafood, Asian, Filipino, Indian  ...                   No
3     14.585318                   Japanese, Sushi  ...                   No
4     14.584450                  Japanese, Korean  ...                   No
...         ...                               ...  ...                  ...
9546  41.022793                           Turkish  ...                   No
9547  41.009847   World Cuisine, Patisserie, Cafe  ...                   No
9548  41.055817            Italian, World Cuisine  ...                   No
9549  41.057979                   Restaurant Cafe  ...                   No
9550  40.984776                              Cafe  ...                   No

     Is delivering now Switch to order menu Price range Aggregate rating  \
0                   No                   No           3              4.8
1                   No                   No           3              4.5
2                   No                   No           4              4.4
3                   No                   No           4              4.9
4                   No                   No           4              4.8
...                ...                  ...         ...              ...
9546                No                   No           3              4.1
9547                No                   No           3              4.2
9548                No                   No           4              3.7
9549                No                   No           4              4.0
9550                No                   No           2              4.0

     Rating color  Rating text  Votes rating_range      avg_vote
0      Dark Green    Excellent    314          4-5  1.721733e+07
1      Dark Green    Excellent    591          4-5  1.505223e+07
2           Green    Very Good    270          4-5  1.264699e+07
3      Dark Green    Excellent    365          4-5  1.315616e+07
4      Dark Green    Excellent    229          4-5  1.273879e+07
...           ...          ...    ...          ...           ...
9546        Green    Very Good    788          4-5           NaN
9547        Green    Very Good   1034          4-5           NaN
9548       Yellow         Good    661          3-4           NaN
9549        Green    Very Good    901          4-5           NaN
9550        Green    Very Good    591          4-5           NaN

[9551 rows x 23 columns]>

In [58]:
df.info

<bound method DataFrame.info of       Restaurant ID           Restaurant Name  Country Code              City  \
0           6317637          Le Petit Souffle           162       Makati City
1           6304287          Izakaya Kikufuji           162       Makati City
2           6300002    Heat - Edsa Shangri-La           162  Mandaluyong City
3           6318506                      Ooma           162  Mandaluyong City
4           6314302               Sambo Kojin           162  Mandaluyong City
...             ...                       ...           ...               ...
9546        5915730               Naml۱ Gurme           208         ��stanbul
9547        5908749              Ceviz A��ac۱           208         ��stanbul
9548        5915807                     Huqqa           208         ��stanbul
9549        5916112               A���k Kahve           208         ��stanbul
9550        5927402  Walter's Coffee Roastery           208         ��stanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...
9547  Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...
9548  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...
9549  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...
9550  Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karak�_y
9547                                   Ko��uyolu
9548                                 Kuru�_e��me
9549                                 Kuru�_e��me
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                                Karak�_y, ��stanbul   28.977392
9547                               Ko��uyolu, ��stanbul   29.041297
9548                             Kuru�_e��me, ��stanbul   29.034640
9549                             Kuru�_e��me, ��stanbul   29.036019
9550                                    Moda, ��stanbul   29.026016

       Latitude                          Cuisines  ...  Has Online delivery  \
0     14.565443        French, Japanese, Desserts  ...                   No
1     14.553708                          Japanese  ...                   No
2     14.581404  Seafood, Asian, Filipino, Indian  ...                   No
3     14.585318                   Japanese, Sushi  ...                   No
4     14.584450                  Japanese, Korean  ...                   No
...         ...                               ...  ...                  ...
9546  41.022793                           Turkish  ...                   No
9547  41.009847   World Cuisine, Patisserie, Cafe  ...                   No
9548  41.055817            Italian, World Cuisine  ...                   No
9549  41.057979                   Restaurant Cafe  ...                   No
9550  40.984776                              Cafe  ...                   No

     Is delivering now Switch to order menu Price range Aggregate rating  \
0                   No                   No           3              4.8
1                   No                   No           3              4.5
2                   No                   No           4              4.4
3                   No                   No           4              4.9
4                   No                   No           4              4.8
...                ...                  ...         ...              ...
9546                No                   No           3              4.1
9547                No                   No           3              4.2
9548                No                   No           4              3.7
9549                No                   No           4              4.0
9550                No                   No           2              4.0

     Rating color  Rating text  Votes rating_range      avg_vote
0      Dark Green    Excellent    314          4-5  1.721733e+07
1      Dark Green    Excellent    591          4-5  1.505223e+07
2           Green    Very Good    270          4-5  1.264699e+07
3      Dark Green    Excellent    365          4-5  1.315616e+07
4      Dark Green    Excellent    229          4-5  1.273879e+07
...           ...          ...    ...          ...           ...
9546        Green    Very Good    788          4-5           NaN
9547        Green    Very Good   1034          4-5           NaN
9548       Yellow         Good    661          3-4           NaN
9549        Green    Very Good    901          4-5           NaN
9550        Green    Very Good    591          4-5           NaN

[9551 rows x 23 columns]>

## LEVEL2 TASK4
## Identify if there are any restaurant chains present in the dataset.

In [61]:
name_counts = df['Restaurant Name'].value_counts()
chain_candidates = name_counts[name_counts > 1]

In [63]:
name_counts

Restaurant Name
Cafe Coffee Day             83
Domino's Pizza              79
Subway                      63
Green Chick Chop            51
McDonald's                  48
                            ..
Odeon Social                 1
Johnny Rockets               1
House of Commons             1
HotMess                      1
Walter's Coffee Roastery     1
Name: count, Length: 7446, dtype: int64

In [65]:
chain_candidates

Restaurant Name
Cafe Coffee Day       83
Domino's Pizza        79
Subway                63
Green Chick Chop      51
McDonald's            48
                      ..
Town Hall              2
Halki Aanch            2
Snack Junction         2
Delhi Biryani Hut      2
Beliram Degchiwala     2
Name: count, Length: 734, dtype: int64

## Analyze the ratings and popularity of different restaurant chains.

In [68]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,rating_range,avg_vote
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,No,No,No,3,4.8,Dark Green,Excellent,314,4-5,1.721733e+07
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,No,No,No,3,4.5,Dark Green,Excellent,591,4-5,1.505223e+07
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,No,No,No,4,4.4,Green,Very Good,270,4-5,1.264699e+07
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,No,No,No,4,4.9,Dark Green,Excellent,365,4-5,1.315616e+07
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,No,No,No,4,4.8,Dark Green,Excellent,229,4-5,1.273879e+07

In [70]:
chain_summary = df.groupby('Restaurant Name').agg({
    'Aggregate rating': 'mean',
    'Restaurant ID': 'mean'
}).reset_index()

In [72]:
chain_summary

           Restaurant Name  Aggregate rating  Restaurant ID
0                      #45               3.6      3100446.0
1             #Dilliwaala6               3.7     18378803.0
2             #InstaFreeze               0.0     18311951.0
3              #OFF Campus               3.7     18336489.0
4             #Urban Caf��               3.3     18317511.0
...                    ...               ...            ...
7441    t Lounge by Dilmah               3.6     18361747.0
7442                tashas               4.1      6401789.0
7443              wagamama               3.7      7100938.0
7444  {Niche} - Cafe & Bar               4.1     18222559.0
7445     �ukura��a Sofras۱               4.4      6000871.0

[7446 rows x 3 columns]

In [74]:
chain_summary_sorted_by_rating = chain_summary.sort_values(by='Aggregate rating', ascending=False)
chain_summary_sorted_by_popularity = chain_summary.sort_values(by='Restaurant ID', ascending=False)

In [76]:
chain_summary_sorted_by_rating

                      Restaurant Name  Aggregate rating  Restaurant ID
5322   Restaurant Mosaic @ The Orient               4.9        75989.0
4177                 Ministry of Crab               4.9      5800176.0
4135                            Miann               4.9     18217279.0
5757          Shorts Burger and Shine               4.9     17316744.0
4165                            Milse               4.9      7001086.0
...                               ...               ...            ...
1105                      Cafe Corner               0.0         7793.0
4905                  Pheva Tandooris               0.0     18449639.0
4913                     Pick & Carry               0.0     18419501.0
1096                     Cafe Brownie               0.0     18354666.0
2292  Famous Parantha and Poori Sabzi               0.0     18424202.0

[7446 rows x 3 columns]

In [78]:
chain_summary_sorted_by_popularity

                    Restaurant Name  Aggregate rating  Restaurant ID
3949                Mahek By Greenz               0.0     18500652.0
1355          Chandni Chowk 2 China               0.0     18500639.0
2730                   Grill & Cafe               0.0     18500628.0
7158                    Veg. Darbar               0.0     18500618.0
7423                        Zombiez               0.0     18499493.0
...                             ...               ...            ...
1663                        Chungwa               3.3           69.0
2281                        Fa Yian               4.0           67.0
2131                Drums of Heaven               3.5           65.0
2078  Diva - The Italian Restaurant               3.8           64.0
290                           Amber               2.6           53.0

[7446 rows x 3 columns]